
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-style:oblique;
    color:black;
}

p{
    margin-top: 10px;
    font-size: 13px;
    text-align: justify;
    color: black;
}

img {
    position:absolute;
    height: 15%;
    width: 50%;
    align-items: center;

}

.container, .book-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 100vh;
    background: #2d6f75;
}

.book-content{
    width: 65%;
    min-width: 450px;
    max-width: 800px;
    height: 660px;
    position: relative;
    perspective: 2000px;
    transition: 1s;
}

.book {
    position: absolute;
    width: 65%;
    height: 100%;
    transition: 1s;
    transform-style: preserve-3d;
    transform-origin: left;
}

.face-front, .face-back {
    width: 100%;
    height: 100%;
    background: white;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

.face-front {
    box-shadow: inset 3px 0px 20px -7px black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.face-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(-1px) rotateY(180deg);
    box-shadow: inset -3px 1px 20px -7px black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#portada {
    background: url("../Imagenes/Editores/Portada.png");
}

#portada-back {
   background: url("../Imagenes/Editores/Editores.png");
}

#portada, #portada-back {
    background-size: 100% 100%;
}



/* Clases que se agregaran con JavaScript*/

.trnsf {
    transform: translateX(80px);
}

.trnsf-reset {
    transform: translateX(0px);
}

/*@media para hacer el texto responsivo*/


@media screen and (max-width:800px) {
    p {
        font-size: 12px;
    }
}
